.contenedorform {
  background-image: url("Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 150px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 40px;
}

.form label {
  font-size: 1.2rem;
  margin-bottom: 5px;
  display: flex;
  align-items: flex-start;
  width: 100px;
  vertical-align: top;
  color: #000;
  font-weight: 600;
}

.form input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #4caf50;
  border-radius: 9px;
}

.form input:focus {
  outline: none;
  border: 1px solid #87f54e;
  box-shadow: 0 0 10px #719ece;
}

.form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 85%;
  margin-top: 50px;
}

.form button:hover {
  background-color: #3e8e41;
}

.form p {
  width: 100%;
  font-size: 15px;
  color: black;
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 15px;
  background-color: #c34e4e;
}

@media (max-width: 1000px) {
  .contenedorform {
    background-size: cover;
  }
}

.divcontainer {
  width: 80%;
}
